@using CasaDaVideira.Model.Database.Utils

@{
    var usuario = LoginUtils.Usuario;
}



<li><img id="loadAjax" src="~/images/gif/ajax-loader.gif" width="30" height="30" style="display:none;" /></li>
@if (usuario == null)
{
    <li>

        <a data-ajax="true"
           data-ajax-loading="#loadAjax"
           data-ajax-method="post"
           data-ajax-mode="replace"
           data-ajax-success="showModalCreateUser"
           data-ajax-update="#modaldiv"
           href="@Url.Action("CreateUser", "Usuario")">
            <i class="glyphicon glyphicon-user"></i> &nbsp; Criar Cadastro
        </a>
    </li>
    <li>
        <a data-ajax="true"
           data-ajax-loading="#loadAjax"
           data-ajax-method="post"
           data-ajax-mode="replace"
           data-ajax-success="showModalLogin"
           data-ajax-failure="error"
           data-ajax-update="#modaldiv"
           href="@Url.Action("Login", "Home")">
            <i class="glyphicon glyphicon-lock"></i> &nbsp; Login
        </a>
    </li>
}
else
{
    if (LoginUtils.Usuario.Admin)
    {
        <li>@Html.ActionLink("Configurações", "Configuracoes", "Home")</li>
    }
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nomeUsuario">@usuario.Nome<b class="caret"></b></a>
        <div class="dropdown-menu multi-column columns-3">
            <div class="row">
                <div class="multi-gd-img">
                    <ul class="multi-column-dropdown">
                        <h6>Opções</h6>
                        <li>@Html.ActionLink("Editar Cadastro", "DetailsUser", "Usuario")</li>
                        <li>@Html.ActionLink("Sair", "Deslogar", "Usuario")</li>                        
                        @if (!LoginUtils.Usuario.Admin)
                        {
                            <li><p>Você possui @LoginUtils.Usuario.Pontos pontos</p></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </li>
}
