@model CasaDaVideira.Model.Database.Model.Usuario
@using CasaDaVideira.Model.Database.Utils
@{ 
    var pesquisa = ViewBag.Pesquisa;
}
@if (LoginUtils.Usuario.Admin)
{
    <div id="modalDetalheUsuario" role="dialog" class="login modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modalLogin">&times;</button>
                <div class="modal-body">
                    <h2>@Model.Nome @Model.Sobrenome</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <ul>
                                    <li><b>Idade: </b>@if (Model.idade() == null) { Write("Cliente não forneceu data de nascimento"); } else { Write(Model.idade()); }</li>
                                    <li><b>Email: </b>@Model.Email</li>
                                    <li><b>CPF: </b>@Model.Cpf</li>
                                    <li><b>Pontuação: </b>@Model.Pontos</li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Pesquisa</h4>
                                @if (pesquisa != null)
                                {
                                <span><b>Você se preocupa em adquirir alimentos sem agrotóxicos?</b>&nbsp;
                                    @if (pesquisa.SePreocupaEmAdquirirAlimentosSemAgrotoxicos)
                                    {
                                        Write("Sim");
                                    }
                                    else
                                    {
                                        Write("Não");
                                    }
                                </span>
                                <span><b>Você costuma comprar alimentos pela internet?</b>&nbsp;
                                        @if (pesquisa.CostumaFazerComprasPelaInternet)
                                        {
                                            Write("Sim");
                                        }
                                        else
                                        {
                                            Write("Não");
                                        }
                                </span>
                                <span><b>Comentários</b></span>
                                    @pesquisa.Comentario;
                                }
                                else
                                {
                                    <b>Cliente não respondeu à pesquisa!</b>
                                }</div>
                            <div class="col-md-3">
                                <h4>Últimas buscas</h4>
                                <div>
                                    @if (Model.BuscasRealizadas.Count > 0)
                                    {
                                    <ul>
                                        @foreach(var busca in Model.BuscasRealizadas)
                                        {
                                            <li><b>@busca.Busca</b> - @busca.CreatedAt.ToShortDateString() @busca.CreatedAt.ToShortTimeString()</li>
                                        }
                                    </ul>
                                    }
                                    <ul>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}
