@model CasaDaVideira.Model.Database.Model.Usuario
@using System.ComponentModel.DataAnnotations
@using CasaDaVideira.Model.Database.Utils

<div id="modalLogin" role="dialog" class="login modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modalLogin">&times;</button>
            <div class="modal-body">
                <h2>Cadastro Administrador</h2>

                <div class="alert alert-danger" role="alert">
                    Insira as credenciais para cadastrar o primeiro administrador!<br />
                    Não será possível logar nenhum usuário sem um administrador cadastrado.
                </div>

                <div id="validateTk" class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
                    @using (Ajax.BeginForm("CadastraAdmin", "Usuario", new AjaxOptions()
                    {
                        HttpMethod = "post",
                        OnSuccess = "cadastroSucesso",
                        OnFailure = "falhaCadastroUsuario",
                        LoadingElementId = "loadAjax",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "modaldiv"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Chave do sistema" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        
                        <input id="btnCadastroPrimeiroAdmin" type="submit" value="Cadastrar primeiro administrador">
                    }
                </div>
            </div>
        </div>
    </div>
</div>

