@using CasaDaVideira.Model.Database.Utils
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Configurações";
    var usuario = LoginUtils.Usuario;
}
@if (usuario != null && usuario.Admin)
{
    <div class="container">
        <div class="row" style="margin: 50px">
            <div class="col-md-4">
                <h4>Produtos</h4>
                <hr />
                <ul class="list-unstyled input-group">
                    <li>
                        @Ajax.ActionLink("Cadastrar Produto", "CreateProduto", "Produto", new AjaxOptions()
             {
                 HttpMethod = "post",
                 OnSuccess = "showCadastroProduto",
                 OnFailure = "failCadastroProduto",
                 LoadingElementId = "loadAjax",
                 InsertionMode = InsertionMode.Replace,
                 UpdateTargetId = "modaldiv"
             })
                    </li>
                    <li>
                        @Ajax.ActionLink("Cadastrar Categoria", "CreateCategoria", "Categoria", new AjaxOptions()
                     {
                         HttpMethod = "post",
                         OnSuccess = "showCadastroCategoria",
                         OnFailure = "fail(data)",
                         LoadingElementId = "loadAjax",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "modaldiv"
                     })
                    </li>
                    <li>
                        @Html.ActionLink("Listar Produtos", "Index", "Produto")
                    </li>
                    <li>
                        @Html.ActionLink("Listar Categorias", "Index", "Categoria")
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Clientes</h4>
                <hr />
                <ul class="list-unstyled input-group">
                    <li>
                        @Html.ActionLink("Listar Clientes", "ListarClientes", "Usuario")
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Usuários</h4>
                <hr />
                <ul class="list-unstyled input-group">
                    <li>
                        @Html.ActionLink("Listar Administradores", "Index", "Usuario")
                    </li>
                </ul>
            </div>
        </div>
    </div>
}